h1 {
  z-index: 1000;
  position: relative;
  margin-block-start: 0;
}

.transition__container {
  position: relative;

  > div {
    position: relative;
  }

  .is-animating {
    position: absolute;
    width: 100%;
  }
}

.wrapper {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
  margin-bottom: 7vw;
  background-color: #EEEEEE;

  &.small {
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }
}

.box {
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;

  &.blue {
    background-color: #0390fc;
  }
}

.btngroup {
  display: flex;
  margin-bottom: 20px;

  button {
    margin-right: 20px;
  }
}
