h1 {
  z-index: 1000;
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5vw;
  margin-bottom: 7vw;
  background-color: #EEEEEE;
}

.box {
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}

.box.blue {
  background-color: #0390fc;
}

.btngroup {
  display: flex;
  margin-bottom: 20px;
}

.btngroup button {
  margin-right: 20px;
}
